<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>

<center>
    <h1>Students get</h1>
<table border="1px" style="border-collapse:collapse">
<a href="{% url 'onlineapp:add_student2' college_id %}">Add Student</a>
    {% for i in student %}
<tr>
    <td>
        {{ i.name }}
    </td>
    <td>
        {{ i.email }}
    </td>
    <td>
        {{ i.mocktest1__total }}
    </td>
</tr>
    {% endfor %}
</table>
</center>

</body>
</html>